<script>
import Game from '../../game';

import ItemBase from '../itemsBase';
import SkillView from '../items/skill.vue';
import Settings from 'modules/settings';
import {alphasort} from '../../util/util';

import { floor, lowFixed, precise } from 'util/format';

import AllUpgrades from '../panes/allupgrades.vue';
import SlotPick from '../components/slotpick.vue';
import Profile from 'modules/profile';

import FilterBox from '../components/filterbox.vue';

import Info from '../hall/charinfo.vue';
import Upgrades from '../panes/upgrades.vue';
import {centerXY} from '../popups/popups.js';
import { EVT_STAT } from '../../events';

export default {

	components:{
		info:Info,
		upgrades:Upgrades
	},
	data(){
		return {
			chars:Profile.hall.chars,
			hName:Profile.hall.name
		}
	},
	mounted() {
		centerXY(this.$el);
	},
	updated() {
		centerXY( this.$el );
	},
	methods:{

		load( slot ) {

			this.$emit('close');
			this.dispatch('set-char', slot );

		},

		dismiss(slot, name ){

			this.emit( 'warn', `Dismiss ${name}`, ()=>{

				this.dispatch('dismiss-char', slot );

			});

		},

		warnDone( okay, slot ) {

			if ( okay ) this.dispatch('set-char', slot );
		}

	},
	computed:{

		hall(){ return Profile.hall; },

		availChars(){
			return Profile.hall.getChars();
		},

		prestige(){

			let p = this.hall.prestige.valueOf();

			this.dispatch( EVT_STAT, 'prestige', p );

			return Math.floor(p);

		},

		hallName:{
			get() { return this.hName; },
			set(v) {
				if ( v ) Profile.setHallName( v);
				this.hName =v;
			}
		}
	}

}
</script>

<template>
<div class="pantheon">

		
		<div class="power" @mouseenter.capture.stop="itemOver( $event, hall.prestige )">Hall Prestige: {{ prestige }}</div>

	<div class="header"><input class="fld-name text-entry" type="text" v-model="hallName">
			<div class="text-button"><a href=""
			@click.self.prevent="dispatch('hall-file',$event )" type="text/json">Hall Save</a></div>

			<confirm @confirm="dispatch('resetHall')">Reset Hall</confirm>

			</div>


	<div class="chars">
	<info v-for="(c,i) in availChars" :char="c" :active="i==hall.curSlot"
		:key="i" @load="load( i)" @dismiss="dismiss(i,c.name)" />
	</div>

	<upgrades :items="hall.upgrades" />

	<div class="popup-close" @click="$emit('close')">X</div>

</div>
</template>


<style scoped>

div.pantheon {
	z-index: 5000;
	 min-width: 40vw;
	 max-width: 80vw;
	 max-height: 90vh;
	 padding: var( --rg-gap );
	 	overflow:auto;

}

div.header {
	display:flex;
	justify-content:center;
	margin: var(--md-gap);
}

div.pantheon .upgrades {
	display:flex;
	flex-flow: row wrap;
}

</style>
